.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.auth-input-container{
    margin-bottom: 18px;
}

.auth-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
  font-size: 24px;
}

.auth-form input {
  width: 100%;
  padding: 12px 14px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.auth-form input:focus {
  border-color: #007bff;
  outline: none;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.auth-form button:hover {
  background-color: #0056d2;
}

.auth-error, .auth-error ul{
    list-style: none;
    color: rgb(120, 5, 5);
    padding: 0;
}

.errorlist{
    margin-top: 5px;
}
