{% extends "base.html" %}
{% load static %}

{% block title %}register{%endblock%}

{% block css_files %}
    <link rel="stylesheet" href="{% static "auth/auth.css"%}">
{% endblock%}

{% block content %}
    <div class="auth-container">
        <form class="auth-form" method="POST" action={% url "register" %}>
            {% csrf_token %}
            <h2>Create an Account</h2>

            <div class="auth-input-container">
                <input type="text" name="username" placeholder="Username" required>
                <div class="auth-error">{{errors.username}}</div>
            </div>

            <div class="auth-input-container">
                <input type="email" name="email" placeholder="Email Address" required>
                <div class="auth-error">{{errors.email}}</div>
                {%if email_exists%}
                    <div class="auth-error"><ul class='errorlist'>email already exists</ul><div>
                {%endif%}
            </div>

            <div class="auth-input-container">
                <input type="password" name="password" placeholder="Password" required>
                <div class="auth-error">{{errors.password}}</div>
            </div>
            
            <div class="auth-input-container">
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <div class="auth-error">{{errors.password2}}</div>
            </div>

            
            <button>Register</button>
        </form>
</div>
{%endblock%}